body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: grid;
    grid-template-columns: 100px 800px 100px;
    grid-template-rows: 100px 800px 100px;
    grid-template-areas: 
    "header header header"
    "left-sidebar sketch-area right-sidebar"
    "footer footer footer";
}

#header {
    grid-area: header;
    background-color: darkslategray;
}

#left-sidebar {
    grid-area: left-sidebar;
    background-color: gray;
}

#right-sidebar {
    grid-area: right-sidebar;
    background-color: gray;
}

#footer {
    grid-area: footer;
    background-color: gray;
}

#grid-container {
    grid-area: sketch-area;
}

.colored {
    background-color: black;
}